body {

    text-align: center;
    background-color: #eaf6f6;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;

}
div{
    margin: 50px 0 50px 0;
}


.top{
    
    background-color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
    margin-top: 2px;  
}


.topline{
    position:relative;
    width: 80px;
    right:10px;
}
/* Links */
.bluelink:link{
    color: blue;
    text-decoration: none;
}
.bluelink:visited{
    color: blue;
}
.bluelink:hover{
    color: slategray;
}
a:link{
    color: black;
}

a:visited{
    color: black;
}
a:hover{
    color: slategray;
}

/* Links */
.topcontainer {
    padding-top: 100px;
    margin: 0px;
    margin-bottom: 70px;
}

.bottomcontainer {
    background-color: grey;
    padding: 50px;
    height: auto;
    margin: 0px
}

hr {
    width: 60px;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    color: lightslategrey;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 100px;
    margin: 0%;
}

.para1 {
    font-size: 20px;
    
}

.avatar {
    width: 200px;
}

.cloud1 {
    position: relative;
    right: 100px;
}

.cloud2 {
    position: relative;
    left: 100px;
}
.mountain-img{
    position: relative;
    height: 300px;
}
.laptop{
    display: inline-block;
    width: 300px;
    height: auto;
    border-radius: 100%;
    
}
.desktop{
    display: inline-block;
    height: 200px;
    width: 350px;
    border-radius: 100%;
    
}
.skillrow1 {
    margin-bottom: 100px;
}
.span1 {
    border: groove;
    padding: 5px; 
}

.span2 {
    border: groove;
    padding: 5px;   
}
.btn{
    text-decoration: none;
    border: none;
    padding: 5px;
    font-weight: bold;
    text-decoration: solid;
    margin: auto 10px auto 10px;
}
